{% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
    <main>
        <video autoplay="" loop="" muted="" class="custom-video position-fixed" poster="">
            <source src="{{ asset('build/video/pexels-2022395.mp4') }}" type="video/mp4">

            Your browser does not support the video tag.
        </video>

        <section class="ticket-section section-padding">
            <div class="section-overlay"></div>
            <div class="container">
                <div class="row">
                    <a href="{{ path('app_event_index') }}">
                        <button class="btn custom-btn">back to list</button>
                    </a>
                    <div class="col-lg-6 col-10 mx-auto">
                        <div class="custom-form ticket-form mb-5 mb-lg-0">
                            <h2 class="text-center mb-4">Create new Event</h2>
                            <div class="ticket-form-body">
                                {{ include('event/_form.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
