{% extends 'base.html.twig' %}

{% block title %}Projet BUT3 Symfony{% endblock %}

{% block body %}
<div>
    <h1>Pierre Softwares</h1>
    <p>Bienvenue sur le site événementiel de Pierre Softwares, réservez vos places à nos conférences ici.</p>
    <p>Un compte est requis pour s'inscrire à une conférence.</p>
</div>
{% endblock %}
