@import './bootstrap.min.css';
@import './bootstrap-icons.css';
@import './templatemo-festava-live.css';

body {
    background-color: lightgray;
}

.hero-section {
    height: calc(100vh - 83px);
}

.ticket-section {
    background-image: none;
}
